<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Artist Page</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bandstyle.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
    
<body>

<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">-->
    <ul class="nav navbar nav-pills navbar-expand-sm fixed-top">
        <li class="nav-item">
            <a class="nav-link" href="#about">
<!--                <svg width="100" height="100"></svg>-->
            <img src="/images/icons/book.svg" alt="book"/>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#discography">
<!--                <svg width="100" height="100"></svg>-->
            <img src="/images/icons/note.svg" alt="note"/>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#photos">
<!--                <svg width="100" height="100"></svg>-->
            <img src="/images/icons/photo.svg" alt="note"/>
            </a>
        </li>
    </ul>
<!--</nav>-->

<!--<div class="jumbotron jumbotron-fluid bg-dark text-white">-->
<div class="container-fluid bg-dark text-white" id="about">
    <img src="<%= artist.imageURL %>" class="rounded-circle mx-auto d-block" alt="Cinque Terre" width="200" height="200">
    <h1 class="display-4 text-center"><%= artist.name.replace(/-/g," ") %></h1>
    <p class="text-white-50 text-center"><%= artist.biography %></p>
</div>
<!--</div>-->

<div class="container-fluid bg-dark text-white" id="discography">
    <h1 class="display-4 text-center">Discography</h1>
    <div class="card-deck" id="cards">
    </div>
</div>

<script>
  let id = 0;
    let cards = document.getElementById("cards");
    let card, img, overlay, div;
    let title, imgURL;
    <% for(let j=0; j<discography.length; j++) { %>
        title = "<%= discography[0].title %>";
        card = document.createElement('div');
        card.className = "card";
        card.id = id;
        
        img = document.createElement('img');
        img.className = "card-img";
        img.src = "<%= discography[j].imageURL %>";

        div = document.createElement('div');
        div.className = "text font-italic";
        div.innerHTML = "<%= discography[j].title %>"+"<br>(<%= discography[j].releaseDate %>)";

        overlay = document.createElement('div');
        overlay.className = "overlay";

        overlay.appendChild(div);
        card.appendChild(img);
        card.appendChild(overlay);
        cards.appendChild(card);

        id++;       
    <%}%>

</script>
    
<div class="container-fluid bg-dark text-white" id="photos">

  <h1 class="display-4 text-center">Photos</h1>

<!--  <hr class="mt-2 mb-5">-->

  <div class="row text-center text-lg-left" id="gallery">
  </div>

</div>

<script>
    let gallery = document.getElementById("gallery");
    let a;

    <% for(let j=0; j<images.length; j++) { %>
        img = document.createElement('img');
        img.className = "img-fluid img-thumbnail";
        img.src = "<%= images[j].url %>";

        a = document.createElement('a');
        a.className = "d-block mb-4 h-100";
        a.href = "<%= images[j].url %>";
        a.setAttribute("data-fancybox", "gallery");
        
        div = document.createElement('div');
        div.className = "col-lg-3 col-md-4 col-6";

        a.appendChild(img);
        div.appendChild(a);
        gallery.appendChild(div);

    <%}%>

</script>
    
<script>
let cardID;
let baseURL = 'https://open.spotify.com/embed/album/';
let urls = [];
<% for(let j=0; j<discography.length; j++) { %>
    urls.push("<%= discography[j].spotifyURL %>")
<%}%>

if (screen && screen.width < 900) {
    $(document).ready(function() {
       $('.card').popover({ 
           html : true,
           placement: 'top',
           content: function() {
                cardID = $(this)[0].id
                console.log(cardID)
               return $('<iframe width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>').attr('src', src)
               }
        });
    });
}
else {
    $(document).ready(function() {
       $('.card').popover({ 
           html : true,
//           placement : 'left',
           content: function() {
                cardID= $(this)[0].id
               return $('<iframe width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>').attr('src', baseURL+urls[cardID])
               }
        });
    });
}
</script>

<script>
$(document).ready(function(){
  $('body').scrollspy({target: ".navbar", offset: 110});   
});

$('.navbar li a').click(function(event) {
    event.preventDefault();
    $($(this).attr('href'))[0].scrollIntoView();
    scrollBy(0, -80);
});
</script>
    
</body>
</html>
